* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.color-btn {
    position: absolute;
    top: 50%;
    padding: 1.5em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.color-btn:hover {
    cursor: pointer;
}